@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content:  space-around;
    background-color:#FCEFD6;
}
.logo{
     display: flex;
     

}
.main-logo{
    height: 60px;
    width: 60px;
}
.list{
    
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    height: 100%;
}
.login{
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 20px;

}
button{
    padding: 8px 15px;
    border-radius: 20%;
}
main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image:url(mountain.jpg);

}
main > h1{
    font-size: 5rem;
}
main > p{
    font-size: 2rem;
    margin-bottom: 1rem;
}
footer{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FCEED7 ;
    
}
